<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moha.mislugares">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mi_icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.Dialog">
        <activity
            android:name=".presentacion.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentacion.AcercaDeActivity"
            android:label="Acerca de..."/>
        <activity android:name=".presentacion.PrefereciasActivity"></activity>
        <activity android:name=".presentacion.Aplicacion"></activity>
    </application>
</manifest>